<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>{% trans from 'SGMNoteBundle' %}notebook{% endtrans %}</title>
    </head>
    <body>
        {% block sgm_note_content %}{% endblock %}
    </body>
</html>
