{% extends 'SGMNoteBundle::layout.html.twig' %}

{% block sgm_note_content %}
    <h1>{% trans from 'SGMNoteBundle' %}note_creation{% endtrans %}</h1>

    <form action="{{ url('sgm_note_new') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" value="{% trans from 'SGMNoteBundle' %}create{% endtrans %}"/>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ url('sgm_note_list') }}">
                {% trans from 'SGMNoteBundle' %}note_list{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}